.App {
  font-family: sans-serif !important;
}

.App-header {
  background-color: rgb(24, 24, 71) !important;
  height: 50px;
  padding: 10px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}
