.App {
  /*text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10px;
}

.App-header {
  background-color: rgb(24, 24, 71) !important;
  height: 50px;
  padding: 10px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
