.summary {
  display:flex !important;
  flex-direction: row;
  height: 200px !important;
  max-width: 268.86px !important;
  width: auto;
  font-size: 14px !important;
  font-family: sans-serif !important;
}

.column1 {
  flex-direction: column;
  max-width: 60%;
  width: auto;
  min-width: 60%;
  height: 200px !important;
  font-size: 12px !important;
  font-family: sans-serif !important;
  color: rgb(24, 24, 71) !important;
}

.column2 {
  flex-direction: column;
  max-width: 40%;
  width: auto;
  min-width: 80px;
  height: 200px !important;
}

.ul {
  list-style-type: none;
  padding-top: 10px !important;
  padding-left: 10px !important;
  margin: 0px !important;
  height: 189px !important;
}

.li {
  padding-top: 5px;
  padding-top: 5px;
}